{
  "presets": ["es2015", "es2016", "react", "stage-0"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
